Cython==0.24.1
Flask==0.12
Flask-SQLAlchemy==2.2
Flask-SSLify==0.1.5
Jinja2==2.9.5
MarkupSafe==1.0
PyWavelets==0.4.0
PyYAML==3.11
Pygments==2.1.3
SQLAlchemy==1.1.6
Werkzeug==0.12.1
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.22.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.3.2
certifi==2016.8.8
cffi==1.10.0
click==6.7
configparser==3.5.0
dask==0.10.2
decorator==4.0.9
email-validator==1.0.1
entrypoints==0.2.2
function-profiler==0.3
functools32==3.2.3.post2
future==0.15.2
gnureadline==6.3.3
h5py==2.6.0
idna==2.1
ipdb==0.8.1
ipykernel==4.4.1
ipython==4.1.1
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.1
mechanize==0.2.5
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
networkx==1.11
nltk==3.2.1
notebook==4.2.2
numpy==1.12.0
oauthlib==2.0.1
path.py==8.1.2
pexpect==4.0.1
phonenumbers==7.4.5
pickleshare==0.6
prompt-toolkit==1.0.5
ptyprocess==0.5.1
pygeocoder==1.2.5
python-dateutil==2.4.2
python-twitter==3.2.1
qtconsole==4.2.1
rauth==0.7.2
readline==6.2.4.1
requests==2.13.0
requests-oauthlib==0.7.0
scikit-image==0.13.dev0
singledispatch==3.4.0.3
six==1.10.0
terminado==0.6
tornado==4.4.1
traitlets==4.2.2
travis-slack==1.0
twitter==1.17.1
uber-rides==0.2.5
unicodecsv==0.14.1
usaddress==0.5.7
validate-email==1.3
virtualenv==15.0.2
wcwidth==0.1.7
web.py==0.38
wheel==0.29.0
widgetsnbextension==1.2.6
xlrd==1.0.0
yamllint==1.6.1
youtube-dl==2016.9.27
